*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.*~
*~
./week1
./week2
./week3
./midterm
./week4

# YARD artifacts
.yardoc
_yardoc
doc/
.DS_Store
